.train-progress {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
}
#train-progress-title {
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 10px;
}
.train-progress-bar {
  position: relative;
  height: 22px;
  flex-grow: 1;
  border: 1px solid #004fa8;
}
#train-progress-bar-inner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #66b0fd;
}
#train-status {
  display: block;
}
