* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  font-size: 14px;
  padding: 10px;
}

canvas {
  user-select: none;
  border: 1px solid #6c6cff;
}
